<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src=
          "https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F008%2F2020%2F07%2F20%2F0004442318_001_20200720112303404.jpg&type=sc960_832" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">저를 소개합니다😊</h1>
        <p>이름: 이재현</p>
        <p>생년월일: 2003/05/12</p>
        <p>학번: 2226059</p>
        <h3>🏫학력</h3>
        <p>이천초등학교 졸업</p>
        <p>이천중학교 졸업</p>
        <p>이현고등학교 졸업</p>
        <p>한국국립교통대학교 재학</p>
      </div>
    </div>
  </div>
</main>
