<!-- views/games/new.ejs -->

<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="pt-5">
      <h1>Add New Game</h1>
      <p>What will you teach today?</p>

      <div class="row">
        <div class="col-lg-6 mb-3 mt-3">
          <div class="data-form">
            <form class="form-signin" action="/games/create" method="POST">
              <h2 class="form-signin-heading">Create a new game:</h2>
              <label for="inputTitle">Title</label>
              <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
              <label for="inputDescription">Description</label>
              <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description" required>
              <label for="inputMaxStudents">Number of players</label>
              <input type="text" name="maxStudents" id="inputMaxStudents" pattern="\d*" class="form-control" placeholder="Max Students" required>
              <label for="inputCost">Cost</label>
              <input type="text" name="cost" id="inputCost" pattern="\d*" class="form-control" placeholder="Cost" required>
              <br />
              <button class="btn btn-lg btn-primary" type="submit">Create Game</button>
            </form>
          </div> 
        </div>

        
        </div>
      </div>
    </div>
  </div>
</main>
